main{
    background-color: bisque;
    padding: 2rem;
    display: flex;
}

#control{
    width: 50%;
    padding: 1rem;
}
#control > .btn-cad{
    background-color: white;
    margin: 2rem auto;
    width: 200px;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
}
#control > .btn-cad > span{
    padding-left: 4px;
}
#control > .btn-cad:hover{
    background-color: rgb(47, 221, 47);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.397);
    color: white;
}
/* =============================================================== */
.prox > .box-setor{
    display: flex;
    align-items: center;
}
.prox > .box-setor > select{
    font-size: 1em;
    padding: 0.2em;
    margin: 0rem 0rem 0.3rem 0.5rem;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
}
.prox > #btn-prox{
    background-color: rgba(47, 221, 47, 0.541);
    color: rgba(255, 255, 255, 0.705);
    margin: 0.5rem 0rem;
    width: 200px;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    transition: 0.3s;
}
.prox > #btn-prox > span{
    padding-left: 4px;
}
/* =============================================================== */
.pdf > p{
    font-weight: 500;
}
.pdf > .box-cpf{
    display: flex;
    align-items: center;
}
.pdf > .box-cpf > input{
    width: 7.4em;
    font-size: 1em;
    padding: 0.2em;
    margin: 0rem 0rem 0.3rem 0.5rem;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
}
.pdf > #cpf-pdf{
    background-color: rgba(248, 225, 17, 0.541);
    color: rgba(255, 255, 255, 0.705);
    margin: 0.5rem 0rem;
    width: 200px;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    transition: 0.3s;
}
.pdf > #cpf-pdf > span{
    padding-left: 4px;
}
/* =============================================================== */
.conferir > .box-codigo{
    display: flex;
    align-items: center;
}
.conferir > .box-codigo > input{
    width: 3.8em;
    font-size: 1em;
    padding: 0.2em;
    margin: 0rem 0rem 0.3rem 0.5rem;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
}
.conferir > #btn-conferir{
    background-color: rgba(248, 33, 17, 0.541);
    color: rgba(255, 255, 255, 0.705);
    margin: 0.5rem 0rem;
    width: 200px;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    transition: 0.3s;
}
.conferir > #btn-conferir > span{
    padding-left: 4px;
}
/* =============================================================== */
#listaPacientes{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#listaPacientes > .cabecalho > .titulo > p{
    margin: 1rem 0rem 0rem 0rem;
    font-size: 0.9em;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 4px 4px 0px 0px;
    text-align: center;
    background-color: rgb(0, 174, 255);
}
/* =============================================================== */
#listaPacientes > .cabecalho > .tituloTabela{
    display: flex;
    text-align: center;
    font-weight: 500;
    background-color: rgb(0, 174, 255);
}
#listaPacientes > .cabecalho > .tituloTabela > #name{
    width: 40%;
    margin: 0;
    padding: 4px 0px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#listaPacientes > .cabecalho > .tituloTabela > #cons{
    width: 35%;
    margin: 0;
    padding: 2px 0px;
    border-right: 1px solid black;
}
#listaPacientes > .cabecalho >  .tituloTabela > #password{
    width: 25%;
    margin: 0;
    padding: 2px 0px;
    border-right: 1px solid black;
}
/* =============================================================== */
#listaPacientes > #container {
    height: 40vh;
    overflow-y: scroll;
    border-radius: 0px 0px 4px 4px;
}
#listaPacientes > #container > .paciente{
    background-color: white;
    display: flex;
    text-align: center;
    margin-bottom: 0.3rem;
}
#listaPacientes > #container > .paciente > #nomePac{
    width: 40%;
    border-right: 1px solid black;
    display: flex;
    justify-content: start;
    align-items: center;
}
#listaPacientes > #container > .paciente > #nomePac > span{
    padding: 0px 8px;
}
#listaPacientes > #container > .paciente > #consultaPac{
    width: 35%;
    border-right: 1px solid black;
}
#listaPacientes > #container > .paciente > #senhaPac{
    width: 25%;
}