*{
    margin: 0;
}
h3, p{
    margin-bottom: 0.5rem;
}
#pri{
    display: none;
}
.linha {
    margin-top: 1rem;
    border-top: 1px solid black;
}
.pdf{
    width: 500px;
}
.pdf > h1{
    text-align: center;
    font-size: 4em;
    padding: 4rem 4rem 2rem 0rem;
}
.box-senha{
    display: flex;
    justify-content: center;
}
.box{
    width: 40%;
    margin-left: 4rem;
}
#data{
    font-size: 0.8em;
    text-align: end;
}
#info{
    width: 80%;
    margin: 1rem 0rem 1rem 4rem;
}
#credito{
    text-align: end;
}
#credito > img{
    width: 25px;
}