<link rel="stylesheet" href="css/login.css">

<main>
    <section>
        <img src="img/logo.png" alt="" onclick="criador()">
        <div class="box">
            <h3>Senha:</h3>
            <input type="password" name="senhaUser" id="senhaUser" oninput="btn()">
        </div>
        <div id="btn" onclick="entrar()">ENTRAR</div>
    </section>
</main>

<script src="scripts/login.js"></script>