<link rel="stylesheet" href="css/notDadosPac.css">

<section>
    <div class="box">
        <span class="material-symbols-outlined" onclick="voltar()">arrow_back</span>
        <h1>Dados Não Encontrados!</h1>
    </div>
    <div id="btn" onclick="voltar()"><span class="material-symbols-outlined">arrow_back</span> VOLTAR</div>
</section>

<script src="scripts/notDadosPac.js"></script>