<link rel="stylesheet" href="css/notPdf.css">

<main>
    <h1>404</h1>
    <p><strong>O paciente citado já foi atendido ou seus dados não foram cadastrados!</strong></p>
    <div id="btn" onclick="voltar()"><span class="material-symbols-outlined">arrow_back</span> VOLTAR</div>
</main>

<script src="scripts/dadosPac.js"></script>