
<div class="txt">
    <h1>Teste</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dicta, sequi molestias qui amet assumenda ipsa nulla, quibusdam adipisci, vero ab molestiae quae sed harum sit dolores similique culpa at.</p>
</div>

<h1 onclick="PDF()">PDF!</h1>

<script>
    function PDF(){
        print()
    }
</script>