<link rel="stylesheet" href="css/tv.css">

<div class="audios">
    <audio src="audios/num0.mp3" type="audio/mpeg" id="a0"></audio>
    <audio src="audios/num1.mp3" type="audio/mpeg" id="a1"></audio>
    <audio src="audios/num2.mp3" type="audio/mpeg" id="a2"></audio>
    <audio src="audios/num3.mp3" type="audio/mpeg" id="a3"></audio>
    <audio src="audios/num4.mp3" type="audio/mpeg" id="a4"></audio>
    <audio src="audios/num5.mp3" type="audio/mpeg" id="a5"></audio>
    <audio src="audios/num6.mp3" type="audio/mpeg" id="a6"></audio>
    <audio src="audios/num7.mp3" type="audio/mpeg" id="a7"></audio>
    <audio src="audios/num8.mp3" type="audio/mpeg" id="a8"></audio>
    <audio src="audios/num9.mp3" type="audio/mpeg" id="a9"></audio>
    <audio src="audios/chamada.mp3" type="audio/mpeg" id="chamada"></audio>
    <audio src="audios/senha.mp3" type="audio/mpeg" id="senha"></audio>
    <h1 id="atual"></h1>
</div>
<div class="logo">
    <img src="img/logo.png" alt="">
</div>
<div class="senhaAtual">
    <span onclick="ouvir()">Senha Atual:</span>
    <h1 id="senha1"></h1>
    <h2 id="setor1"></h2>
</div>
<div class="senhasChamadas">
    <span>Senhas Chamadas</span>
    <div class="linha">
        <h1 id="senha2"></h1>
        <h2 id="setor2"></h2>
    </div>
    <div id="pri"></div>
    <div class="linha">
        <h1 id="senha3"></h1>
        <h2 id="setor3"></h2>
    </div>
</div>

<script src="scripts/tv.js"></script>